 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dentegra</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/login.css}" rel="stylesheet"></link>
<script th:src="@{/js/jquery-2.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/login.js}"></script>
<style>
@media only screen and (max-width: 10px) {
    body {
         height: 5%;
  		 width: 50%;
    }
}
</style>
</head>
<body th:background="@{/img/fondo.jpg}">
<div class="responsive"><img class="banner-imagen" th:src="@{/img/banner.png}" /></div>
 <div class="container-fluid">
    <br/>
     <div class="row justify-content-center">
		<div class="col-sm-5">
		    <img class="img-barnner" th:src="@{/img/login.png}" />	  
		</div>
		<div class="col-sm-7">
				<div class="card-container">
					<div class="alert alert-danger" th:if="${param.error ne null}">Usuario o Contrase&#241;a incorrecto.</div>
					<img id="profile-img" class="profile-img-card" th:src="@{/img/avatar_2x.png}" />

					<p id="profile-name" class="profile-name-card"></p>
					<form method="post" action="login" role="login">

						<input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Usuario" required="required" autofocus="autofocus"/>
						<br/>
						<input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" required="required"/>
						<br/>
						<span class="align-bottom">
							<button type="submit" name="go" class="btn btn-primary" >Ingresar</button>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<br/>
							<a href="#" class="forgot-password"> Olvide mi contrase&#241;a </a>
						</span>
					</form>
					
					

				</div>
				
		</div>
			
	</div>
		
	</div>
	<p class="card-footer text-muted">Dentegra Seguros Dentales M&aacute;xico &#169; Todos los derechos reservados</p>
</body>
</html>